<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Download versions</title>
        <link href="../static/css/hello.css" th:href="@{/css/hello.css}" rel="stylesheet" />
    </head>
    <body>
        <h1 th:text="'Hello, ' + ${name} + '!'"></h1>
        <h2>Specified modules: </h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Submodules</th>
            </tr>
            </thead>
            <tbody th:each="module : ${modules}">
                <tr>
                    <td th:text="${module.name}"></td>
                    <td th:text="${module.version}"></td>
                    <td>
                        <ul>
                            <li th:each="submodule : ${module.submodules}" th:text="${submodule}"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>